@use "main"
//GENERAL
.container
  flex-direction: column-reverse
  padding: 1.5rem

//PRICING
.article
  border:
    top: 1px solid darkgrey
    right: 1px solid darkgrey
    left: 1px solid darkgrey
  &:first-child
    border:
      bottom: 1px solid darkgrey

//FAQ
.faq
  &__item
    &__title
      font-size: 1.4rem

//FOOTER
.footer
  display: flex
  align-items: center
  min-height: 10vh
  background: main.$color__principal
  color: main.$color__fondo
  margin-top: main.$gap--xl
  & > .container
    width: 62rem
    display: flex
    align-items: center
    justify-content: space-between
  &__icon
    width: 2rem
    height: 2rem